@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
	font-family: 'Lato', sans-serif;
	margin: 0;

}

.hello {
	background: url('unsplash.jpg');
	background-width: 100%;
	color: grey;
	text-align: center;
	padding-bottom: 4em;

}

header {
	padding: 1em 0;
}

.hello a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

section {
	margin: 0 1em;
}

h1 {
	font-size: 2rem;
	margin: 2em 0 1.2em;
}

h1 span{
	display: block;
	color: black;
}

.hello p{
	font-weight: bold;
	margin: 0 1em 3em;
}

label{
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
	font-size: 1.2em;
}

input[type=button] {
	background-color: grey;
	border: none;
	width: 30%;
	color:white;
	font-weight: bold;
	padding: 0.5em 0;
	border-radius: 0.5em;
	font-size: 1.3rem;
	cursor: pointer;
	margin: 0.5em;
}

input[type=button]:hover {
	background-color: black;
	
}

.section{
	margin: 0;
}

.right{
	text-align: center;
}

img {
	width: 100%;
}

p{
	line-height: 2em;
}

@media (min-width: 930px){
	.hello{
		text-align: center;
	}



	input[type=button] {
	background-color: grey;
	border: none;
	width: 30%;
	color:white;
	font-weight: bold;
	padding: 0.5em 0;
	border-radius: 1em;
	font-size: 1.3rem;
	cursor: pointer;
	margin: 0.5em 2em 0.5em 2em;
	}

	section.second {
		display: grid;
		grid-template-columns: repeat(2,50%);
		grid-template-areas: 
			"wall content";

	}

	.right {
		grid-area: content;
		padding: 0 10%;
		text-align: left;
		align-self: center;;
	}

	img {
		grid-area: wall;
	}
}

.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

